#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-navBox {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em 0.2em;
  background-color: bisque;
}
.habit-nav {
  margin: 0;
  font-size: 2.5rem;
}

.habit-input {
  font-size: 2rem;
  max-width: 15rem;
  margin-right: 0.2em;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}
.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}
.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}
.habits-green-btn {
  font-size: 1.2rem;
  background-color: green;
  color: white;
  padding: 0.5em 1.2em;
}
